<% provide(:title, 'My keywords') %>

<div class="row">
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/kword_menu' %>
  </aside>
  <div class="col-md-9">

    <%= render 'search' %>


    <div class="row kwords">
      <table class="table">


      <% @kwords.each do |kword| %>
      <tr>
        <td>
          <%= link_to kword.name, kword %>

        </td>
        <td><p>
<%= link_to "edit",edit_kword_path(kword) %> | <%= link_to "delete", kword, method: :delete, data: { confirm: "You sure?"} %>
</p></td>
        </tr>

      <% end %>

  </table>
  </div>

 <%= will_paginate %>
  </div>

</div>
