<tr>
  <td>
    <%= check_box_tag "photo_ids[]", photo.id  %>
  </td>
  <td>
  <%= image_tag photo.picture.url(:thumb)  if photo.picture? %>

  </td>
   <td >
 <span>
  <input id="photo_<%=photo.id%>" type=text value=<%= geturl photo.picture.url if photo.picture? %> />

  </span>
   </td>
  <td>
    <button id="bt_<%=photo.id%>" onClick="CopyURL('photo_<%=photo.id%>');return false;" >Copy</button>
  <span  > <%= link_to "delete", photo, method: :delete, data: { confirm: "You sure?"} %></span>
    </td>

</tr>
